.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 2.2rem;
    font-weight: 700;
    text-decoration: none;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
