.section {
  display: flex;
  flex-direction: column;
  margin-block: 72px;
  padding-inline: 32px;

  .title {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 16px;
    margin-block-end: 72px;

    h2 {
      flex: 1;
    }

    p {
      max-width: 280px;
      margin: 0;
    }
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    column-gap: 24px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    .project {
      position: relative;
      max-width: 100%;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 32px;
        transition: transform 0.3s ease;
      }

      .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block-start: 20px;
        padding-inline: 24px;

        h4 {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        span {
          display: none;

          @media (min-width: 992px) {
            display: inline-block;
            margin-inline-end: 16px;
          }
        }

        svg {
          position: absolute;
          width: 16px;
          height: 16px;
          right: 16px;
          bottom: 4px;
          transition: transform 0.3s ease;
        }
      }

      &:hover {
        img {
          transform: scale(1.02);
        }

        svg {
          transform: scale(1.1) translate(2px, -2px);
        }
      }
    }
  }
}
