:root {
  // Fonts
  --font-brand: 'Poppins', sans-serif;

  // Colors
  --color-highlight-green: 155, 86%, 44%;
  --color-highlight-purple: 266, 100%, 61%;
  --color-highlight-blue: 202, 88%, 49%;
  // Font
  --color-font: 0, 0%, 11%;
  --color-font-light: 0, 0%, 55%;
  --color-font-inverse: 0, 0%, 98%;
  // Background
  --color-bg: 0, 0%, 98%;
  --color-bg-footer: 0, 0%, 11%;
  --color-bg-primary: 0, 0%, 100%;
  --color-bg-secondary: 0, 0%, 96%;
  --color-bg-primary-inverse: 0, 0%, 11%;
  --color-bg-secondary-inverse: 0, 0%, 20%;
  --color-bg-button: 0, 0%, 11%;
  --color-bg-button-inverse: 0, 0%, 96%;
  --color-bg-button-hover: 0, 0%, 20%;
  --color-bg-button-hover-inverse: 0, 0%, 93%;
  --color-bg-input: 0, 0%, 96%;
  // Border
  --color-border: 0, 0%, 93%;
  --color-border-inverse: 0, 0%, 11%;
  // Shadow
  --color-shadow-button: 0px 6px 12px 0px hsla(0, 0%, 11%, 0.25);
}

[data-theme='dark'] {
  // Fonts
  --font-brand: 'Poppins', sans-serif;

  // Colors
  --color-highlight-green: 155, 86%, 44%;
  --color-highlight-purple: 266, 100%, 61%;
  --color-highlight-blue: 202, 88%, 49%;
  // Font
  --color-font: 0, 0%, 98%;
  --color-font-light: 0, 0%, 63%;
  --color-font-inverse: 0, 0%, 11%;
  // Background
  --color-bg: 0, 0%, 11%;
  --color-bg-footer: 0, 0%, 20%;
  --color-bg-primary: 0, 0%, 11%;
  --color-bg-secondary: 0, 0%, 14%;
  --color-bg-primary-inverse: 0, 0%, 100%;
  --color-bg-secondary-inverse: 0, 0%, 98%;
  --color-bg-button: 0, 0%, 96%;
  --color-bg-button-inverse: 0, 0%, 20%;
  --color-bg-button-hover: 0, 0%, 93%;
  --color-bg-button-hover-inverse: 0, 0%, 16%;
  --color-bg-input: 0, 0%, 20%;
  // Border
  --color-border: 0, 0%, 20%;
  --color-border-inverse: 0, 0%, 93%;
  // Shadow
  --color-shadow-button: 0px 6px 12px 0px hsla(0, 0%, 89%, 0.25);
}

// Global breakpoints, free to use other if required
// phone: 576px;
// tablet: 768px;
// laptop: 992px;
// desktop: 1200px;
