:root {
  --color-black: 0, 0%, 0%;
  --color-white: 0, 0%, 100%;

  --color-font: 0, 0%, 0%;
  --color-brand: 0, 0%, 100%;
  --color-backgroundColor: 0, 0%, 100%;

  --font-brand: 'Poppins', sans-serif;
}

// Global breakpoints, free to use other if required
// phone: 576px;
// tablet: 768px;
// laptop: 992px;
// desktop: 1200px;
