.header1 {
  font-size: 4.4rem;
  line-height: 1.12;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 7.8rem;
  }
}

.highlight {
  z-index: 1;
  position: relative;
  display: inline-block;

  --highlight-color: var(--color-highlight-green);

  &.blue {
    --highlight-color: var(--color-highlight-blue);
  }

  &.purple {
    --highlight-color: var(--color-highlight-purple);
  }

  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    inset: 0px -8px;
    background: linear-gradient(
      to right,
      hsl(var(--highlight-color)) 0,
      hsl(var(--highlight-color)) 4px,
      hsl(var(--highlight-color), 0.32) 4px,
      hsla(var(--highlight-color), 0.04) 100%
    );
  }
}

.header2 {
  color: hsl(var(--color-font-light));
  font-size: 4dvh;
  line-height: 1.12;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 7.8rem;
  }

  .focus {
    color: hsl(var(--color-font));
  }
}

.header3 {
  color: hsl(var(--color-font-light));
  font-size: 2.8rem;
  line-height: 1.12;

  @media (min-width: 768px) {
    font-size: 3.2rem;
  }

  .focus {
    color: hsl(var(--color-font));
  }
}

.header4 {
  font-size: 2.2rem;
  line-height: 1.3;

  @media (min-width: 768px) {
    font-size: 2.4rem;
  }
}

.link {
  color: hsl(var(--color-font));
  padding-block: 8px;
  padding-inline: 16px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  min-width: 100px;
  padding-block: 16px;
  padding-inline: 32px;
  text-align: center;
  text-decoration: none;
  border: 1px solid hsl(var(--color-border));
  border-radius: 9999px;
  transition:
    padding 0.25s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;
  }

  &.primary {
    color: hsl(var(--color-font-inverse));
    background-color: hsl(var(--color-bg-button));
    border-color: hsl(var(--color-border-inverse));
    box-shadow: var(--color-shadow-button);

    &:hover {
      padding-inline: 40px;
      background-color: hsl(var(--color-bg-button-hover));
    }
  }

  &.secondary {
    color: hsl(var(--color-font));
    background-color: hsl(var(--color-bg-button-inverse));
    border-color: hsl(var(--color-border));

    &:hover {
      padding-inline: 40px;
      background-color: hsl(var(--color-bg-button-hover-inverse));
    }
  }
}
